.listing-container {
  top: 5em;
  position: relative;
  height: 50em;
  margin: 5em;
}

.images-container {
  height: 30em;
  width: auto;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  border-radius: 20px;
}

#primary-images {
  width: 70%;
  max-height: fit-content;
  margin-right: 1em;
}
#primary-images img {
  width: 100%;
  height: 100%;
}

.secondary-images {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
}

.secondary-images img {
  height: 48.5%;
}
