.listing-container {
  top: 3em;
  position: relative;
  height: auto;
  margin: 5em;
  font-family: Arial, Helvetica, sans-serif;
}

.images-container {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  border-radius: 20px;
}

#primary-images {
  width: 70%;
  max-height: fit-content;
  margin-right: 1em;
}
#primary-images img {
  width: 100%;
  height: 100%;
}

.secondary-images {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  width: 35%;
}

.secondary-images img {
  height: 48.5%;
  max-width: fit-content;
}

#listing-address {
  color: grey;
  font-weight: 200;
  text-decoration: underline;
  font-size: 16px;
  padding-bottom: 2em;
}

.house-info {
  border-bottom: 1px solid rgb(216, 216, 216);
  padding: 3em 0em 2em 0em;
}
.house-info .primary-text {
  font-size: 1.5em;
}

.house-info .secondary-text {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  justify-content: space-between;
  width: 14em;
}

.reviews-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  margin-top: 1em;
  width: 70%;
}
.review-container {
  margin-top: 3em;
  margin-right: 3em;
}
.reviews-container .review {
  width: 18em;
}

.bottom-quadrant {
  display: flex;
  flex-direction: row;
}

.bookings-container {
  background-color: white;
  position: relative;
  width: 30%;
  height: 18em;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgb(182, 181, 181);
}
