.listings-page-container {
  display: flex;
  flex-direction: row;
}

.listings-container {
  display: flex;
  flex-direction: column;
  background-color: blue;
  width: 55%;
  height: 800px;
}

.maps-container {
  background-color: pink;
  width: 45%;
  height: 800px;
}
