/* frontend/src/context/Modal.css */
#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

#modal-content {
  font-family: arial;
  font-size: 0.8em;
  background-color: #fefefe;
  margin: 20% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 500px; /* Could be more or less, depending on screen size */
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

#modal-content .line {
  width: 100%;
  border-bottom: 1px solid rgb(212, 212, 212);
  align-self: center;
  position: absolute;
  left: 0px;
}

#modal-content h2 {
  display: float;
  position: relative;
  align-self: center;
}

#modal-content h1 {
  margin-top: 30px;
}

#modal-content input {
  border: none;
  background-color: none;
  margin: 10px;
}

#modal-content .input1 {
  border: 1px solid rgb(173, 172, 172);
  border-radius: 5px 5px 0px 0px;
  padding: 10px;
  margin: 0px;
  display: block;
}

#modal-content .input2 {
  border: 1px solid rgb(173, 172, 172);
  padding: 10px;
  border-radius: 0px 0px 5px 5px;
  margin-bottom: 20px;
  display: block;
  border-top: none;
}

#modal-content .login {
  padding: 15px;
  margin: 5px;
  background-color: rgb(214, 68, 92);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  width: 100%;
}
