body {
  margin: 0px;
  padding: 0px;
}

.homepage-container {
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  /* background-image: url(https://archibnb-images.s3.us-east-2.amazonaws.com/landingpage.jpg); */
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 20em;
  top: 2em;
}

.homepage-container img {
  width: 100%;
  height: fit-content;
}

.search-form-container {
  z-index: 1;
  background-color: white;
  height: 6em;
  width: auto;
  position: absolute;
  top: 10em;
  display: flex;
  flex-direction: row;
  align-content: center;
  border-radius: 50px;
  justify-content: center;
}

.search-form-container label {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.search-form-container label:hover {
  box-shadow: 0px 0px 10px grey;
  border-radius: 50px;
}

.search-form-container input {
  padding-top: 10px;
  border: none;
  font-size: 16px;
  background-color: none;
}
.search-form-container input:focus {
  outline-width: 0px;
}

.search-form-container .input1 {
  border: none;
  font-size: 16px;
  padding-left: 4em;
  padding-right: 2em;
}
.search-form-container button {
  border-radius: 35px;
  font-size: 20px;
  color: white;
  background-color: rgb(214, 68, 92);
  border: none;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 0px 20px;
}

.search-form-container button:focus {
  outline-width: 0px;
  box-shadow: 0px 0px 10px grey;
  border-radius: 50px;
}

.calender {
  border: 1px solid rgb(255, 255, 255);
  background-color: white;
  border-radius: 2em;
  padding: 3px;
  box-shadow: 0px 3px 12px rgb(212, 211, 211);
  height: 20em;
  width: 20em;
}
.calender1 {
  position: absolute;
  left: 29%;
  top: 18em;
}
.calender2 {
  position: absolute;
  left: 42%;
  top: 18em;
}

.calender:focus {
  outline-width: 0;
}

.calender:hover {
  box-shadow: 0px 3px 12px rgb(212, 211, 211);
}
