.profile-container {
  margin: 8em 2em;
  display: flex;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
}

.profile-image img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.user-info {
  margin-left: 3em;
}

.user-info h1 {
  padding-bottom: 1em;
  border-bottom: 1px solid rgb(207, 207, 207);
  width: 100%;
}

.user-info h2 {
  font-size: 20px;
  padding: 0px;
  margin-bottom: 0px;
  font-weight: 100;
}

.bookingsTitle {
  margin-left: 2em;
  margin-bottom: 2px;
  font-family: Arial, Helvetica, sans-serif;
}

.bookings {
  font-family: Arial, Helvetica, sans-serif;
}

.bookings p {
  margin-left: 3.2em;
  margin-bottom: 5em;
  font-size: 20px;
}
