.profile-container {
  margin: 8em 2em;
  display: flex;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
}

.profile-image img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.user-info {
  margin-left: 30px;
}

.bookingsTitle {
  margin-left: 2em;
  margin-bottom: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
