.profile-container {
  margin: 10em 2em;
  display: flex;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

.profile-image {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.profile-image img {
  position: absolute;
  display: block;
  align-self: center;
  max-height: 150px;
}

.user-info {
  margin-left: 3em;
}

.user-info h1 {
  padding-bottom: 1em;
  border-bottom: 1px solid rgb(207, 207, 207);
  width: 100%;
}

.user-info h2 {
  font-size: 20px;
  padding: 0px;
  margin-bottom: 0px;
  font-weight: 100;
}

.bookingsTitle {
  margin-left: 2em;
  margin-bottom: 2px;
  font-family: Arial, Helvetica, sans-serif;
}

.bookings {
  font-family: Arial, Helvetica, sans-serif;
}

.bookings p {
  margin-left: 3.2em;
  margin-bottom: 5em;
  font-size: 20px;
}

.profile-container button {
  background-color: rgb(214, 68, 92);
  height: 3em;
  width: 20%;
  border-radius: 10px;
  margin-top: 0px;
  border: none;
  color: white;
  font-size: 16px;
  position: absolute;
  top: 1em;
  right: 2em;
}
